* {
    font-size: small;
}

*, *:before, *:after {
  box-sizing: border-box;
}

p {
    color: aqua;
}

.default-container,
.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-container {
  gap: 20px;
}

.component-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  gap: 20px;
  border: dotted 1px grey;
  border-radius: 8px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;  
    border: 2px solid #ddd;
    max-width: 720px;
  }
  
  
tr:hover {background-color: goldenrod;}
  
th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #636363;
    color: white;
  }

  button {
    width: max-content;
    min-width: 25px;
    padding: 8px;
    margin: 4px;
    display: inline;
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    outline: none;
    outline: 0;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  button:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }

 .btn_delete {
    background-color:#ff0000;
    border: 1px solid #ff0000;
    color: #fff;
    margin: 0;
  }



ul {
  margin: 0;
  padding: 10px;
  text-align: left;
}

.new
{
  margin-bottom: 20px;
}

textarea {
  width: 100%;
    resize: vertical;
    height:50px;
}

.submit {
  width: 100px;
  margin: 0;
  padding: 5px;

}

.btn_dates {
  display: inline;
}

fieldset {
  border: none;
}

.dates {
  float:left;
}
.dates_top {
  display: inline-block;
}

.field_dates {
  display: inline;
}
select {
  display:block;
  margin: 4px;
}

.submit {
  width: max-content;
  display: inline;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  outline: none;
  outline: 0;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

@media (min-width: 768px) {
  .submit {
    padding: 10px 30px;
  }
}

label {
  color: #c0bcbc;
  display:block;
  text-align: left;
  margin: 0;
  padding-left: 5px;
}

input {
  display:block;
  margin: 4px;
}

input[type=text] {
  width: 60px;
  text-align: center;
}

.btn_create {
  border: none;
  text-align: center;
  margin: 20px 1px;
  cursor: pointer;
  max-width: 200px;
}
.btn_cancel{
  background-color: #fa5700;
  border: 1px solid #fa5700;
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}