* {
    font-size: small;
}

*, *:before, *:after {
  box-sizing: border-box;
}


p {
    color: aqua;
}

.default-container,
.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.default-container {
  gap: 20px;
}

.component-container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  gap: 20px;
  border: dotted 1px grey;
  border-radius: 8px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;  
    border: 2px solid #ddd;
    max-width: 720px;
  }
  
  
tr:hover {background-color: goldenrod;}
  
th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #636363;
    color: white;
  }
  
  button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px;
    margin: 3px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

 .delete {
    background-color:#ff0000;
    color: #fff;
  }

ul {
  margin: 0;
  padding: 10px;
  text-align: left;
}

.new
{
  margin-bottom: 20px;
}

label {
  display: block;
  position: relative;
  width: 100px;
  text-align: left;
  margin: 0;
  padding: 5px;
}

textarea {
  width: fit-content;
    resize: vertical;
    padding:15px;
    border-radius:8px;
    border:0;
    box-shadow:4px 4px 10px rgba(118, 106, 106, 0.6);
    height:150px;
    display: block;
}

.submit {
  width: 100px;
  margin: 0;
  padding: 5px;

}

#newDate {
  display: inline;
}

fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px;
}

input {
  display: inline;
  margin: 4px;
}

input[type=text] {
  width: 60px;
  text-align: center;
}
